{% extends 'base.html' %}
{% block content %}
<a href="{{ url_for('menu_principal') }}">Volver al Menú</a>
<a href="javascript:history.back()">Volver</a>
<h2>🧂 Ingredientes</h2>
<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<a href="{{ url_for('exportar_ingredientes') }}">Exportar a Excel</a>
<form action="{{ url_for('importar_ingredientes') }}" method="post" enctype="multipart/form-data">
  <input type="file" name="archivo_excel">
  <input type="submit" value="Importar">
</form>

<table class="table table-striped">
  <tr><th>Producto</th><th>Tipo</th><th>Unidad</th><th>Costo Unitario</th></tr>
  {% for i in ingredientes %}
    <tr><td>{{ i.producto }}</td><td>{{ i.tipo }}</td><td>{{ i.unidad }}</td><td>${{ '%.2f'|format(i.costo_unitario|float) }}</td></tr>
  {% endfor %}
</table>
{% endblock %}